.walletContainer{
max-width:1000px;
margin:auto;
padding:15px;
font-family:Arial;
}

.walletHeader h2{
margin-bottom:5px;
}

.walletHeader p{
color:#777;
font-size:14px;
}

.sortBtn{
margin-top:10px;
font-size:14px;
cursor:alias;
}

.transactionCard{
background:white;
border:1px solid #e6e6e6;
border-radius:10px;
padding:15px;
margin-top:15px;
box-shadow:0 1px 3px rgba(0,0,0,0.05);
}

.cardTop{
display:flex;
justify-content:space-between;
align-items:flex-start;
}

.desc{
font-weight:500;
width:75%;
}

.amount{
font-weight:600;
}

.amount.credit{
color:green;
}

.amount.debit{
color:red;
}

.dateTime{
font-size:13px;
color:#777;
margin-top:5px;
}

.cardBottom{
display:flex;
justify-content:space-between;
margin-top:10px;
font-size:13px;
color:#555;
}