name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: pivotal-canto-478409-u3
  SERVICE_NAME: tossbook
  REGION: us-central1
  REPOSITORY: us-central1-docker.pkg.dev/pivotal-canto-478409-u3/container
  IMAGE_NAME: tossbook

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      id-token: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build Docker image
        run: |
          docker build -t ${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} .
          docker tag ${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} \
                     ${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest

      - name: Push Docker image
        run: |
          docker push ${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          docker push ${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest


      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image=${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }} \
            --min-instances=0 \
            --region=${{ env.REGION }} \
            --project=${{ env.PROJECT_ID }}
